html, body{
  font-family: 'Roboto',sans-serif;
}

.content {
    padding:30px 0px;
}
.intro-text{
    font-size: 1.25rem;
    padding-bottom:0;
}

.intro-text {

  position: absolute;
  z-index: 10;
}

#intro-image{
  padding:none;
}

h1 {
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

h2{
    font-size: 1.5rem;
}
a {
    color: orangered;

}

a:hover{
    color:red;
    
}
.navbar{
  padding-left:0px;
  padding-right: 0px;
  background-color: #FFF;

}

.navbar li{
    text-align:right;
    font-size: 110%;
    
}

.navbar-light .navbar-nav .nav-link {
    color:black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:orangered;
}
img, .vid{
  padding-bottom: 30px;
  
 
}

blockquote{
    text-align: center;
    padding: 1rem;
}

/*--MY WORK--*/
.my-card-deck{
  display:flex;
  flex-wrap: wrap;
  
}

.card {
  border:none;
  margin-right:1.25rem;
}

.card-img-top{
  height: 16rem;
  width:auto;
  padding-bottom:0px;
  border-radius:0px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.card-body{
  padding: 1rem 0rem;
}

.card-title {
  margin-bottom:.12rem;
}

.card-text{
  font-size: .75rem;
}

.card:hover{
    color:orangered;
}

.card:hover > img{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}


.contact-list{

    list-style: none;
    padding-left:0;
}

#contact{
    padding-top: 30px;
    border-top: 1px solid black;
    /*border-top-width: 100%;*/
}
@media only screen and (max-width: 720px) {
    .card img{
        width:100%;
        height:auto;
        
    }    
    .card{
      margin-right:0px;
    }
  }

@media only screen and (max-width: 990px) {
    .intro-text {

      position: relative;
  
  }
 
 